@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: Poppins, sans-serif;
}

.maps {
    min-height: 100vh;
    background-image: url(../Images/Maps\ Page.png);
    background-position: center;
    background-size: contain;
}

.sidebar {
    height: 100%;
    width: 4em;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #3D5AF1;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px 10px 0px;
    overflow: hidden;
}

.sidebar .home {
    margin-top: 20px;
    border-radius: 6px;
}

.sidebar .nav-item {
    display: block;
    margin-bottom: 20px;
    padding: 0;
    border-radius: 6px;
}

.sidebar .nav-item:hover {
    background: rgba(173, 173, 173, 0.3);
    color: #FFFFFF;
    border-radius: 6px;
}